<form action="/payment/results">
  <label for="tiger">APR</label>

  <input id="tiger" type="text" name="users_APR" placeholder="E.g. 5.42">

  <label for="mouse">Number of years</label>

  <input id="mouse" type="text" name="users_years" placeholder="How many years to repay?">

  <label for="pig">Principal</label>

  <input id="pig" type="text" name="users_principal" placeholder="How much principal?">

<button>Calculate monthly payment</button>
</form>
