<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @Minimum %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @Maximum %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @Random_Num %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
